//==============================================================================
// Widget Information
//==============================================================================
$widget_name: "Minimalist Social Links";
$widget_uri: "https://github.com/ArmandPhilippot/minimalist-social-links-widget";
$widget_description: "Display social links as a WordPress Widget.";
$widget_version: "0.0.1";
$widget_wordpress_compatibility: "5.2";
$widget_author: "Armand Philippot <contact@armandphilippot.com>";
$widget_author-uri: "https://www.armandphilippot.com/";
$widget_license: "GNU General Public License v2 or later";
$widget_license-uri: "http://www.gnu.org/licenses/gpl-2.0.html";
$widget_domain: "msl-widget";
$widget_domain-path: "/languages/";
