/*!
Plugin Name: Minimalist Social Links
Plugin URI: https://github.com/ArmandPhilippot/minimalist-social-links-widget
Description: Display social links as a WordPress Widget.
Version: 1.0.1
Requires at least: 5.2
Author: Armand Philippot <contact@armandphilippot.com>
Author URI: https://www.armandphilippot.com/
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: msl-widget
Domain Path: /languages/
*/
.mslwidget__logo {
	background-repeat: no-repeat;
	background-size: cover;
	display: block;
	height: 4em;
	transition: all 0.3s ease-in-out 0s;
	width: 4em;
}

@media screen and (pointer: fine) {
	.mslwidget__logo {
		height: 3em;
		width: 3em;
	}
}

.mslwidget__logo--original.mslwidget__logo--dailymotion {
	background-image: url("../../assets/images/logos/original/dailymotion.svg");
}

.mslwidget__logo--original.mslwidget__logo--diaspora {
	background-image: url("../../assets/images/logos/original/diaspora.svg");
}

.mslwidget__logo--original.mslwidget__logo--facebook {
	background-image: url("../../assets/images/logos/original/facebook.svg");
}

.mslwidget__logo--original.mslwidget__logo--github {
	background-image: url("../../assets/images/logos/original/github.svg");
}

.mslwidget__logo--original.mslwidget__logo--gitlab {
	background-image: url("../../assets/images/logos/original/gitlab.svg");
}

.mslwidget__logo--original.mslwidget__logo--gog {
	background-image: url("../../assets/images/logos/original/gog.svg");
}

.mslwidget__logo--original.mslwidget__logo--instagram {
	background-image: url("../../assets/images/logos/original/instagram.svg");
}

.mslwidget__logo--original.mslwidget__logo--linkedin {
	background-image: url("../../assets/images/logos/original/linkedin.svg");
}

.mslwidget__logo--original.mslwidget__logo--mastodon {
	background-image: url("../../assets/images/logos/original/mastodon.svg");
}

.mslwidget__logo--original.mslwidget__logo--peertube {
	background-image: url("../../assets/images/logos/original/peertube.svg");
}

.mslwidget__logo--original.mslwidget__logo--pinterest {
	background-image: url("../../assets/images/logos/original/pinterest.svg");
}

.mslwidget__logo--original.mslwidget__logo--reddit {
	background-image: url("../../assets/images/logos/original/reddit.svg");
}

.mslwidget__logo--original.mslwidget__logo--rss {
	background-image: url("../../assets/images/logos/original/feed.svg");
}

.mslwidget__logo--original.mslwidget__logo--skype {
	background-image: url("../../assets/images/logos/original/skype.svg");
}

.mslwidget__logo--original.mslwidget__logo--snapchat {
	background-image: url("../../assets/images/logos/original/snapchat.svg");
}

.mslwidget__logo--original.mslwidget__logo--soundcloud {
	background-image: url("../../assets/images/logos/original/soundcloud.svg");
}

.mslwidget__logo--original.mslwidget__logo--steam {
	background-image: url("../../assets/images/logos/original/steam.svg");
}

.mslwidget__logo--original.mslwidget__logo--telegram {
	background-image: url("../../assets/images/logos/original/telegram.svg");
}

.mslwidget__logo--original.mslwidget__logo--twitter {
	background-image: url("../../assets/images/logos/original/twitter.svg");
}

.mslwidget__logo--original.mslwidget__logo--viadeo {
	background-image: url("../../assets/images/logos/original/viadeo.svg");
}

.mslwidget__logo--original.mslwidget__logo--vk {
	background-image: url("../../assets/images/logos/original/vk.svg");
}

.mslwidget__logo--original.mslwidget__logo--whatsapp {
	background-image: url("../../assets/images/logos/original/whatsapp.svg");
}

.mslwidget__logo--original.mslwidget__logo--youtube {
	background-image: url("../../assets/images/logos/original/youtube.svg");
}

.mslwidget__logo--square.mslwidget__logo--dailymotion {
	background-image: url("../../assets/images/logos/square/dailymotion.svg");
}

.mslwidget__logo--square.mslwidget__logo--diaspora {
	background-image: url("../../assets/images/logos/square/diaspora.svg");
}

.mslwidget__logo--square.mslwidget__logo--facebook {
	background-image: url("../../assets/images/logos/square/facebook.svg");
}

.mslwidget__logo--square.mslwidget__logo--github {
	background-image: url("../../assets/images/logos/square/github.svg");
}

.mslwidget__logo--square.mslwidget__logo--gitlab {
	background-image: url("../../assets/images/logos/square/gitlab.svg");
}

.mslwidget__logo--square.mslwidget__logo--gog {
	background-image: url("../../assets/images/logos/square/gog.svg");
}

.mslwidget__logo--square.mslwidget__logo--instagram {
	background-image: url("../../assets/images/logos/square/instagram.svg");
}

.mslwidget__logo--square.mslwidget__logo--linkedin {
	background-image: url("../../assets/images/logos/square/linkedin.svg");
}

.mslwidget__logo--square.mslwidget__logo--mastodon {
	background-image: url("../../assets/images/logos/square/mastodon.svg");
}

.mslwidget__logo--square.mslwidget__logo--peertube {
	background-image: url("../../assets/images/logos/square/peertube.svg");
}

.mslwidget__logo--square.mslwidget__logo--pinterest {
	background-image: url("../../assets/images/logos/square/pinterest.svg");
}

.mslwidget__logo--square.mslwidget__logo--reddit {
	background-image: url("../../assets/images/logos/square/reddit.svg");
}

.mslwidget__logo--square.mslwidget__logo--rss {
	background-image: url("../../assets/images/logos/square/feed.svg");
}

.mslwidget__logo--square.mslwidget__logo--skype {
	background-image: url("../../assets/images/logos/square/skype.svg");
}

.mslwidget__logo--square.mslwidget__logo--snapchat {
	background-image: url("../../assets/images/logos/square/snapchat.svg");
}

.mslwidget__logo--square.mslwidget__logo--soundcloud {
	background-image: url("../../assets/images/logos/square/soundcloud.svg");
}

.mslwidget__logo--square.mslwidget__logo--steam {
	background-image: url("../../assets/images/logos/square/steam.svg");
}

.mslwidget__logo--square.mslwidget__logo--telegram {
	background-image: url("../../assets/images/logos/square/telegram.svg");
}

.mslwidget__logo--square.mslwidget__logo--twitter {
	background-image: url("../../assets/images/logos/square/twitter.svg");
}

.mslwidget__logo--square.mslwidget__logo--viadeo {
	background-image: url("../../assets/images/logos/square/viadeo.svg");
}

.mslwidget__logo--square.mslwidget__logo--vk {
	background-image: url("../../assets/images/logos/square/vk.svg");
}

.mslwidget__logo--square.mslwidget__logo--whatsapp {
	background-image: url("../../assets/images/logos/square/whatsapp.svg");
}

.mslwidget__logo--square.mslwidget__logo--youtube {
	background-image: url("../../assets/images/logos/square/youtube.svg");
}

.mslwidget__list {
	display: flex;
	flex-flow: row wrap;
	gap: 0.8em;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.mslwidget__logo::before {
	background: transparent;
	content: "";
	display: block;
	height: 100%;
	transition: all 0.3s ease-in-out 0s;
	width: 100%;
}

.mslwidget__link:hover .mslwidget__logo::before, .mslwidget__link:focus .mslwidget__logo::before {
	background: #ffffff3a;
}

.mslwidget__link:active .mslwidget__logo::before {
	background: transparent;
}

.mslwidget .screen-reader-text {
	border: 0;
	clip: rect(1px 1px 1px 1px);
	/* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-break: normal;
	word-wrap: normal !important;
	/* Many screen reader and browser combinations announce broken words as they would appear visually. */
}
