.mslwidget__logo {
	display: block;
	width: 4em;
	height: 4em;
	background-size: cover;
	background-repeat: no-repeat;
	transition: all 0.3s ease-in-out 0s;

	@media screen and (pointer: fine) {
		width: 3em;
		height: 3em;
	}

	&--original {
		&.mslwidget__logo {
			&--dailymotion {
				background-image: url("../../assets/images/logos/original/dailymotion.svg");
			}

			&--diaspora {
				background-image: url("../../assets/images/logos/original/diaspora.svg");
			}

			&--facebook {
				background-image: url("../../assets/images/logos/original/facebook.svg");
			}

			&--github {
				background-image: url("../../assets/images/logos/original/github.svg");
			}

			&--gitlab {
				background-image: url("../../assets/images/logos/original/gitlab.svg");
			}

			&--gog {
				background-image: url("../../assets/images/logos/original/gog.svg");
			}

			&--instagram {
				background-image: url("../../assets/images/logos/original/instagram.svg");
			}

			&--linkedin {
				background-image: url("../../assets/images/logos/original/linkedin.svg");
			}

			&--mastodon {
				background-image: url("../../assets/images/logos/original/mastodon.svg");
			}

			&--peertube {
				background-image: url("../../assets/images/logos/original/peertube.svg");
			}

			&--pinterest {
				background-image: url("../../assets/images/logos/original/pinterest.svg");
			}

			&--reddit {
				background-image: url("../../assets/images/logos/original/reddit.svg");
			}

			&--rss {
				background-image: url("../../assets/images/logos/original/feed.svg");
			}

			&--skype {
				background-image: url("../../assets/images/logos/original/skype.svg");
			}

			&--snapchat {
				background-image: url("../../assets/images/logos/original/snapchat.svg");
			}

			&--soundcloud {
				background-image: url("../../assets/images/logos/original/soundcloud.svg");
			}

			&--steam {
				background-image: url("../../assets/images/logos/original/steam.svg");
			}

			&--telegram {
				background-image: url("../../assets/images/logos/original/telegram.svg");
			}

			&--twitter {
				background-image: url("../../assets/images/logos/original/twitter.svg");
			}

			&--viadeo {
				background-image: url("../../assets/images/logos/original/viadeo.svg");
			}

			&--vk {
				background-image: url("../../assets/images/logos/original/vk.svg");
			}

			&--whatsapp {
				background-image: url("../../assets/images/logos/original/whatsapp.svg");
			}

			&--youtube {
				background-image: url("../../assets/images/logos/original/youtube.svg");
			}
		}
	}

	&--square {
		&.mslwidget__logo {
			&--dailymotion {
				background-image: url("../../assets/images/logos/square/dailymotion.svg");
			}

			&--diaspora {
				background-image: url("../../assets/images/logos/square/diaspora.svg");
			}

			&--facebook {
				background-image: url("../../assets/images/logos/square/facebook.svg");
			}

			&--github {
				background-image: url("../../assets/images/logos/square/github.svg");
			}

			&--gitlab {
				background-image: url("../../assets/images/logos/square/gitlab.svg");
			}

			&--gog {
				background-image: url("../../assets/images/logos/square/gog.svg");
			}

			&--instagram {
				background-image: url("../../assets/images/logos/square/instagram.svg");
			}

			&--linkedin {
				background-image: url("../../assets/images/logos/square/linkedin.svg");
			}

			&--mastodon {
				background-image: url("../../assets/images/logos/square/mastodon.svg");
			}

			&--peertube {
				background-image: url("../../assets/images/logos/square/peertube.svg");
			}

			&--pinterest {
				background-image: url("../../assets/images/logos/square/pinterest.svg");
			}

			&--reddit {
				background-image: url("../../assets/images/logos/square/reddit.svg");
			}

			&--rss {
				background-image: url("../../assets/images/logos/square/feed.svg");
			}

			&--skype {
				background-image: url("../../assets/images/logos/square/skype.svg");
			}

			&--snapchat {
				background-image: url("../../assets/images/logos/square/snapchat.svg");
			}

			&--soundcloud {
				background-image: url("../../assets/images/logos/square/soundcloud.svg");
			}

			&--steam {
				background-image: url("../../assets/images/logos/square/steam.svg");
			}

			&--telegram {
				background-image: url("../../assets/images/logos/square/telegram.svg");
			}

			&--twitter {
				background-image: url("../../assets/images/logos/square/twitter.svg");
			}

			&--viadeo {
				background-image: url("../../assets/images/logos/square/viadeo.svg");
			}

			&--vk {
				background-image: url("../../assets/images/logos/square/vk.svg");
			}

			&--whatsapp {
				background-image: url("../../assets/images/logos/square/whatsapp.svg");
			}

			&--youtube {
				background-image: url("../../assets/images/logos/square/youtube.svg");
			}
		}
	}
}
