@import "logo/logo";

.mslwidget {
	&__hidden {
		display: none;
	}

	&__help {
		border: 1px solid #ccc;
		color: #666;
		font-size: 13px;
		margin-bottom: 1em;
		padding: 0 1em;

		ul {
			list-style-type: circle;
			padding-left: 1em;
		}

		li,
		li code {
			font-size: 11px;
		}
	}

	&__legend {
		font-weight: 700;
	}

	&__list {
		&--checkboxes {
			display: flex;
			flex-flow: row wrap;
			align-items: center;
			gap: 0.3em;
		}

		&--inputs {
			display: grid;
			grid-template-columns: minmax(0, max-content) minmax(0, 1fr);
			align-items: center;
			gap: 1em;
		}
	}

	&__item {
		position: relative;

		&--grid {
			display: contents;
		}
	}

	&__checkbox {
		cursor: pointer;
		opacity: 0;
		z-index: 2;
		position: absolute;
		top: calc(4em / 2); // logo height / 2
		left: calc(4em / 2 - 8px); // logo width / 2 - checkbox width

		@media screen and (pointer: fine) {
			top: calc(3em / 2);
			left: calc(3em / 2 - 8px);
		}

		&:hover,
		&:focus {
			~ .mslwidget__logo {
				border-color: #0000005a;

				&::before {
					background: #0000002a;
				}
			}
		}

		&:checked {
			~ .mslwidget__logo {
				position: relative;

				&::before {
					content: "\2713";
					background: #0000005a;
					color: #bce271;
					font-size: 3em;
					text-align: center;
					text-shadow: 2px 2px 0 #000000;

					@media screen and (pointer: fine) {
						font-size: 2.5em;
					}
				}
			}
		}
	}

	&__logo {
		border: 2px solid transparent;

		&::before {
			display: block;
			content: "";
			background: transparent;
			width: 100%;
			height: 100%;
		}

		&:hover {
			border-color: #0000005a;

			&::before {
				background: #0000002a;
			}
		}
	}
}
