@charset 'utf-8';
//=============================================================================
// Configuration
//=============================================================================
@import "helpers/variables";

//=============================================================================
// Theme info
//=============================================================================
@import "base/widget_info";
@import "logo/logo";

.mslwidget {
	&__list {
		display: flex;
		flex-flow: row wrap;
		gap: 0.8em;
		list-style-type: none;
		padding: 0;
		margin: 0;
	}

	&__logo {
		&::before {
			display: block;
			content: "";
			background: transparent;
			width: 100%;
			height: 100%;
			transition: all 0.3s ease-in-out 0s;
		}
	}

	&__link {
		&:hover,
		&:focus {
			.mslwidget__logo {
				&::before {
					background: #ffffff3a;
				}
			}
		}

		&:active {
			.mslwidget__logo {
				&::before {
					background: transparent;
				}
			}
		}
	}

	.screen-reader-text {
		border: 0;
		clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
		clip: rect(1px, 1px, 1px, 1px);
		width: 1px;
		height: 1px;
		overflow: hidden;
		padding: 0;
		position: absolute !important;
		word-break: normal;
		word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
	}
}
